<form name="form-container" method="POST" action="/course/handle-form-actions" id="form-container">
    <div class="container">
        <h2 style="margin:20px 0">My Courses</h2>
        <span>🥦</span>
        <a href="/course/create">Create New Course</a>
        <a href="/me/trash/courses" style="display: block;float:right;color:#000" class="trash-icon">
            <i class="fas fa-trash-alt " mr="4"></i>
            <span class="badge badge-primary trash-noti">{{countDeleted}}</span>
        </a>
        <div class="action d-flex align-items-center" style="margin:50px 0">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check-all">
                <label class="form-check-label" for="check-all">Choose All</label>
            </div>
            <select name="action" class="form-control form-control-sm check-box-all-option" required>
                <option style="margin: 0 auto;" value="">--- Actions ---</option>
                <option value="delete">Delete</option>
            </select>
            <button class="btn btn-primary btn-sm apply-button-submit" disabled>Apply</button>
        </div>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Level</th>
                    <th scope="col">Created At</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id={{this._id}} name="courseIds[]"
                                value={{this._id}}>
                        </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>
                        <label class="form-check-label" for={{this._id}}>
                            {{this.name}}
                        </label>
                    </td>
                    <td>{{this.level}} </td>
                    <td>{{this.createdAt}}</td>
                    <td><a href="/course/{{this._id}}/edit" type="button" class="btn btn-outline-primary">Edit</a></td>
                    <td><button type="button" class="btn btn-outline-info " data-toggle="modal"
                            data-target="#delete-modal-course" data-id={{this._id}}>
                            Delete
                        </button>
                    </td>
                </tr>
                {{else }}
                <tr>
                    <td colspan="5" class="text-center" mt="4">
                        No courses have been created yet 🚀.
                        <a href="/course/create">Create course</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</form>
{{!-- 
    Delete truyền id cho modal và modal có nhiệm vụ submit form
 --}}
<!-- Modal comfirm delete course-->
<div class="modal fade" id="delete-modal-course" tabindex="-1" aria-labelledby="delete-modal-course" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure want to delete course?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="delete-btn" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>
{{!-- form submit delete course --}}
<form method="POST" name="form-delete-course"></form>

{{!-- Lấy id và thực hiện xóa 1 course --}}
<script>
    document.addEventListener('DOMContentLoaded', function () {

        var courseId;
        var formDelete = document.forms['form-delete-course'];
        var deleteButton = document.getElementById('delete-btn');
        var checkAllButton = $("#check-all");
        var checkItems = $('input[name="courseIds[]"');
        var applyButtonSubmit = $('.apply-button-submit');
        //var formActionContainer = document.forms['form-container'];
        var formActionContainer = $('form[name="form-container"]');

        $('#delete-modal-course').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            courseId = button.data('id')
        })

        deleteButton.onclick = function () {
            // Tạo action
            formDelete.action = `/course/${courseId}?_method=DELETE`;
            formDelete.submit() // submit form
        }

        checkAllButton.change(function () {
            var checked = $(this).prop("checked");
            checkItems.prop("checked", checked); // check het tat ca
            removeDisableButtonApply();

        })

        //  course item clicked
        checkItems.change(function () {
            var isCheckkedAll = checkItems.length === $('input:checked[name="courseIds[]"').length;
            checkAllButton.prop('checked', isCheckkedAll);
            removeDisableButtonApply();
        })

        // remove disable button apply when checked
        function removeDisableButtonApply() {
            if ($('input:checked[name="courseIds[]"').length > 0) {
                applyButtonSubmit.attr('disabled', false);
            } else {
                applyButtonSubmit.attr('disabled', true);
            }
        }

        /* Lang nghe hanh dong khi submit
        formActionContainer.on('submit', function (e) {
            var isSubmittable = !applyButtonSubmit.hasClass('disabled');
            if (!isSubmittable) {
                e.preventDefault();
            }
        })
        */
    })
</script>